/* Osnovni stil sajta */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

/* Navigacija */
nav {
    background-color: #007bff;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Stil za slike */
img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}
